<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout::head"></head>
<body>
	<div th:replace="layout::navbar"></div>	
	<form th:action="@{/form}" method="POST" th:object="${cliente}">
		<input type="text" th:field="*{username}"/><br>
		<small th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
				
		<input type="password" th:field="*{password}"><br>
		<small th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
		
		<input type="submit" value="Guardar"/>
		
	</form>
</body>
</html>