<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout::head"></head>
<body>
	<div th:replace="layout::navbar"></div>
	<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Usuario</th>
			<th>Eliminar</th>
			<th>Editar</th>
		</tr>
	</thead>
		<tr th:each="cliente:${clientes}">
			<td><a th:href="@{/ver/}+${cliente.id}" th:text="${cliente.id}"></a></td>
			<td th:text="${cliente.username}"></td>
			<td><a th:href="@{/delete/}+${cliente.id}">X</a></td>
			<td><a th:href="@{/form/}+${cliente.id}">Editar</a></td>
		</tr>
	</table>
</body>
</html>