<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout::head"></head>
<body>
	<div th:replace="layout::navbar"></div>
	<div th:replace="layout::alerts"></div>
	<div class="container">
		<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Usuario</th>
				<th>Eliminar</th>
				<th>Editar</th>
			</tr>
		</thead>
			<tr th:each="cliente:${clientes}">
				<td><a th:href="@{/ver/}+${cliente.id}" th:text="${cliente.id}"></a></td>
				<td th:text="${cliente.username}"></td>
				<td><a class="text-danger" style="text-decoration:none;" th:href="@{/delete/}+${cliente.id}" onclick="alert('¿Seguro que quiere eliminar cliente?')">X</a></td>
				<td><a class="btn btn-primary" th:href="@{/form/}+${cliente.id}">Editar</a></td>
			</tr>
		</table>
	</div>

<div th:replace="layout::scripts"></div>
</body>
</html>