<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout::head">
</head>
<body>

<div th:replace="layout::navbar"></div>
<div th:replace="layout::alerts"></div>

<form th:action="@{/login}">
    <div class="form-group">
      <label for="usuario">Usuario</label>
      <input type="text" id="usuario" class="form-control" placeholder="Usuario">
    </div>
    <div class="form-group">
      <label for="clave">Contraseña</label>
      <input type="password" id="clave" class="form-control" placeholder="Contraseña">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>


<div th:replace="layout::scripts"></div>

</body>
</html>